/* global styles */

* {
    background-color: black;
    color: white;
    font-family: 'Figtree', sans-serif;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

#about, #music, #press, #shows, #subscribe, #contact {
    scroll-margin-top: 8em;
}

.button {
    display: block;
    margin: 3em auto;
    font-size: 1.5em;
    padding: 1em;
    border: solid white 2px;
}

.button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.fa-brands {
    font-size: 2em;
}

.fa-brands:hover {
    color: gray;
    cursor: pointer;
}


.little_boxes {
    width: 80%;
    margin: 5% auto;
    font-size: 1.1em;
}

/* header styles */

.nav {
    width: 100%;
    padding: 2%;
    padding-right: 4%;
    z-index: 1;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    list-style: none;
}

.hburg-menu {
    display: none;
    font-size: 2rem;
    margin: 2%;
}

.hburg-menu:hover, .fa-xmark:hover {
    cursor: pointer;
}

.fa-xmark {
    font-size: 2rem;
    margin: 3%;
}

.menu {
    display: none;
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.3s;
    top: 0;
    right: 0;
    z-index: 99;
    list-style: none;
    padding: 3%;
    background-color: black;
}

.menu-item {
    display: none;
    margin: 2rem 4rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: right;
}

/* body styles */

h1 {
    text-align: center;
    width: 90%;
    margin: 1em auto;
}

.prateek_logo {
    display: block;
    width: 40em;
    height: auto;
    margin: 10% auto 0 auto;
}

.quotes_photo {
    width: auto;
    height: 40em;
}

.quotes_photo_caption {
    font-size: .8em;
}

#about, #music, #press, #shows, #subscribe, #contact {
    scroll-margin-top: 10em;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.top_quotes {
    font-size: 1.5em;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 2% 4%;
}

.music-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spotify-embed {
    width: 100%;
    height: 30em;
    margin-right: 2%;
}

.youtube-embed {
    width: 100%;
    height: 30em;
    margin-left: 2%;
}

.bottom_quotes {
    padding: 2% 0;
}

.signupFormList {
    list-style: none;
    margin: 2em 0;
}

.signupFormList li {
    margin: .5em 0;
}

.signupFormList input {
    font-size: 100%;
    padding: .3em;
    margin: .5em;
    background-color: white;
    color: black;
}

.signupFormChecks {
    list-style: none;
}

.signupFormChecks input {
    margin: 1em 0;
    height: 20px;
    width: 20px;
}

/* footer styles */

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30%;
    margin: 10% auto 6% auto;
    left: 0;
}

/* media queries */

@media screen and (max-width: 320px) {
    .prateek_logo {
        display: block;
        width: 20em;
        height: auto;
        margin: 25% auto 0 auto;
    }

    #about, #music, #press, #shows, #subscribe, #contact {
        scroll-margin-top: 6em;
    }

    .button {
        width: 80%;
        font-size: 1.1em;
    }
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: black;
    }

    .menu-item {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }

    .little_boxes {
        margin: 10% auto;
    }

    .top_quotes {
        font-size: 1.2em;
        margin: 5% 0 5% 0;
    }

    .quotes_photo {
        width: 100%;
        height: auto;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-text {
        margin: 5% 0 0 0;
    }

    .music-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .spotify-embed {
        width: 100%;
        height: 30em;
        margin: 0 0 5% 0;
    }
    
    .youtube-embed {
        width: 100%;
        height: 30em;
        margin: 5% 0 0 0;
    }

    .footer ul {
        width: 80%;
        margin: 10% auto 10% auto;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .prateek_logo {
        display: block;
        width: 20em;
        height: auto;
        margin: 25% auto 0 auto;
    }

    .top_quotes {
        font-size: 1.2em;
    }    

    #about, #music, #press, #shows, #subscribe, #contact {
        scroll-margin-top: 6em;
    }

    .button {
        width: 80%;
        font-size: 1.1em;
    }
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: black;
    }

    .menu-item {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }

    .little_boxes {
        margin: 10% auto;
    }
    
    .top_quotes {
        font-size: 1.2em;
        margin: 5% 0 5% 0;
    }

    .quotes_photo {
        width: 100%;
        height: auto;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-text {
        margin: 5% 0 0 0;
    }

    .music-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .spotify-embed {
        width: 100%;
        height: 30em;
        margin: 0 0 5% 0;
    }
    
    .youtube-embed {
        width: 100%;
        height: 30em;
        margin: 5% 0 0 0;
    }

    .footer ul {
        width: 70%;
        margin: 10% auto 10% auto;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .prateek_logo {
        display: block;
        width: 30em;
        height: auto;
        margin: 20% auto 0 auto;
    }
    
    .button {
        width: 70%;
        font-size: 1.3em;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }

    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: black;
    }

    .menu-item {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }

    .little_boxes {
        margin: 10% auto;
    }
    
    .top_quotes {
        font-size: 1.2em;
        margin: 5% 0 5% 0;
    }

    .quotes_photo {
        width: 100%;
        height: auto;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-text {
        margin: 5% 0 0 0;
    }

    .music-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .spotify-embed {
        width: 100%;
        height: 30em;
        margin: 0 0 5% 0;
    }
    
    .youtube-embed {
        width: 100%;
        height: 30em;
        margin: 5% 0 0 0;
    }

    .footer ul {
        width: 60%;
        margin: 10% auto 10% auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .prateek_logo {
        margin-top: 15%;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: nowrap;
        padding: 1.5rem;
    }
    
    .nav-bar {
        display: none;
    }

    .hburg-menu {
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: black;
    }

    .menu-item {
        display: block;
    }

    .fa-xmark {
        font-size: 2.5em;
    }

    .showMenu {
        transform: translateY(0);
    }
    
    .top_quotes {
        font-size: 1.2em;
        margin: 5% 0 5% 0;
    }

    .quotes_photo {
        width: 100%;
        height: auto;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-text {
        margin: 5% 0 0 0;
    }

    .music-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .spotify-embed {
        width: 100%;
        height: 30em;
        margin: 0 0 5% 0;
    }
    
    .youtube-embed {
        width: 100%;
        height: 30em;
        margin: 5% 0 0 0;
    }

    .footer ul {
        width: 60%;
        margin: 10% auto 10% auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .quotes_photo {
        width: 100%;
        height: auto;
    }
    
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-text {
        margin: 5% 0 0 0;
    }

    .top_quotes {
        margin: 5% 0 5% 0;
    }
    

    .footer ul {
        width: 50%;
        margin: 10% auto 10% auto;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1599px) {
    .quotes_photo {
        width: auto;
        height: 30em;
    }
    .top_quotes {
        font-size: 1.2em;
    }    
    .footer ul {
        width: 40%;
        margin: 10% auto 10% auto;
    }
}

@media screen and (min-width: 1600px) {
    .bio-text {
        font-size: 1.2em;
    }
}