* {
    background-color: black;
    color: white;
    font-family: 'Figtree', sans-serif;
}

.nav_bar {
    width: 100%;
    padding: 2%;
    padding-right: 4%;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.nav_bar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    list-style: none;
}

.prateek_logo {
    display: block;
    width: 40em;
    height: auto;
    margin: 10% auto 0 auto;
}

.button {
    display: block;
    margin: 5% auto;
    font-size: 1.5em;
    padding: 2%;
    border: solid white 2px;
}

.button:hover {
    color: black;
    background-color: white;
}

.little_boxes {
    width: 80%;
    margin: 5% auto;
    font-size: 1.2em;
}

.prateek_quotes_section {
    display: flex;
}

.prateek_quotes_photo {
    width: 35em;
    height: auto;
}

.top_quotes {
    padding: 5%;
    font-size: 1.5em;
}

.bottom_quotes {
    padding: 1%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h3 {
    margin: auto;
    text-align: center;
}

.footer ul {
    list-style: none;
    text-align: center;
    margin: 3%;
}